<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <preference for="Magento\Checkout\Controller\Cart\CouponPost" type="Sachin\Assignment5\Controller\Cart\CouponPost" />-->
    <type name="Magento\Checkout\Controller\Cart\CouponPost">
        <plugin name="checkout_coupon_code_validation" type="Sachin\Assignment5\Plugin\CouponPost"/>
    </type>
</config>

