<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_HelloWorldRedirect::hello" title="Hello World" module="Custom_HelloWorldRedirect" sortOrder="51" resource="Custom_HelloWorldRedirect::hello"/>
        <add id="Custom_HelloWorldRedirect::post" title="Manage Controller" module="Custom_HelloWorldRedirect" sortOrder="10" action="customhelloredirect/index/index" resource="Custom_HelloWorldRedirect::post" parent="Custom_HelloWorldRedirect::hello"/>
    </menu>
</config>
